<!DOCTYPE html>
<html lang="en">
<head>
    <title>Maia</title>
</head>
<body>
    {% if error %}
    <p><strong>{{ error }}</strong></p>
    {% endif %}
    <p><a href="/">Home</a> | <a href="/snap">Snap</a> | <a href="/stocks">Stocks</a></p>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
