{% extends 'layout.html' %}
{% block content %}
    <p>Here are your stocks:</p>
    <ol>
    {% for stock in stocks %}
        <li>{{ stock.symbol }}: {{ stock.price }}</li>
    {% endfor %}
    </ol>
{% endblock %}
